extends ../layouts/application.pug

block content
  h1.mb-4= t('views.tasks.heading')
  a.btn.btn-primary.mb-3(href=route('newTask'))= t('views.tasks.actions.new')
  +formFor()(action=route('tasks') method='get')
    .row
      .col-md-4
        +filterSelect(selection, 'status', t('views.tasks.status'), statuses)
      .col-md-4
        +filterSelect(selection, 'label', t('views.tasks.labels'), labels)
      .col-md-4
        +filterSelect(selection, 'executor', t('views.tasks.executor'), users)
    .row.align-items-center.mb-3
      .col-md-8
        .form-check
          - isChecked = Number.isInteger(selection?.creator)
          input.form-check-input#data_isCreatorUser(
            type="checkbox"
            name="isCreatorUser"
            checked=isChecked
          )
          label.form-check-label(for="data_isCreatorUser")= t('views.tasks.isCreatorUser')
      .col-md-4
        +submit()(value=t('views.tasks.actions.showFiltered'))
  table.table.table-striped
    thead
      tr
        th= t('views.tasks.id')
        th= t('views.tasks.name')
        th= t('views.tasks.status')
        th= t('views.tasks.creator')
        th= t('views.tasks.executor')
        th= t('views.tasks.createdAt')
        th
    tbody
      each task in tasks
        tr
          td= task.id
          td
            a(href=route('showTask', { id: task.id }))= task.name
          td= task.status.name
          td= task.creator.fullName
          td= task.executor ? task.executor.fullName : ''
          td= formatDate(task.createdAt)
          td
            .d-flex.flex-wrap.gap-2
              a.btn.btn-primary.btn-sm(href=route('editTask', { id: task.id }))= t('views.tasks.actions.edit')
              if getUserId() === task.creatorId.toString()
                +formFor()(action=route('oneTask', { id: task.id }) method='post')
                  input(name='_method' type='hidden' value='delete')
                  input.btn.btn-danger.btn-sm(type='submit' value=t('views.tasks.actions.delete'))
