include ../mixins/forms.pug

//- Layout на базе Bootstrap Examples (Headers + Hero): navbar, flash, контент, footer.

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= t('appName')
    link(href=assetPath('main.css') rel="stylesheet")
    script(src=assetPath('main.js') defer)
  body.d-flex.flex-column.min-vh-100
    header
      nav.navbar.navbar-expand-lg.bg-body-tertiary.border-bottom
        .container
          a.navbar-brand(href=route('root'))= t('appName')
          button.navbar-toggler(
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNavbar"
            aria-controls="mainNavbar"
            aria-expanded="false"
            aria-label=t('layouts.application.toggleNavigation')
          )
            span.navbar-toggler-icon
          #mainNavbar.collapse.navbar-collapse
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
              li.nav-item
                a.nav-link(href=route('users'))= t('layouts.application.users')
            ul.navbar-nav.ms-auto.mb-2.mb-lg-0
              if isAuthenticated()
                li.nav-item
                  +buttonTo(route('session'), 'delete')(class="btn nav-link" value=t('layouts.application.signOut'))
              else
                li.nav-item
                  a.nav-link(href=route('newSession'))= t('layouts.application.signIn')
                li.nav-item
                  a.nav-link(href=route('newUser'))= t('layouts.application.signUp')

    main.container.flex-grow-1.py-4
      each messages, type in reply.flash() || []
        each message in messages
          div.alert(class=`alert-${getAlertClass(type)}` role="alert")= message

      block content

    footer.border-top.bg-body-tertiary.mt-auto
      .container.py-4.text-center.text-body-secondary
        = t('layouts.application.footer')
